@import '../../styles/variables';
@import '../../styles/mixins';

.container{
    @include flexCenter;
    padding: 40px 0 20px 0;
}

form{
    margin-top: 60px;
    margin-bottom: 10px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 14px;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input{
        width: 380px;
        padding: 10px;
        margin-top: 2px;
        margin-bottom: 20px;
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: normal;
        border-radius: 0.5rem;
        text-align: center;
        &:focus{
            outline: none;
        }
    }

}

.button{
    cursor: pointer;
    background-color: $yellow;
    margin-top: 20px;
    padding: 10px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: bold;
    border-radius: 0.5rem;
    text-align: center;
    width: 230px;
}

.title-1{
    font-family: 'Starjedi';
    font-size: 30px;
    color: $white;
    margin: 20px;
}

.title-2{
    font-family: 'Distant-Galaxy';
    font-size: 70px;
    color: $white;
    margin: 22px;
}

.error-message{
    font-family: 'Poppins';
    font-weight: bold;
    color: $white;
    font-size: 14px;
}