@mixin flexCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin justifyBetween{
    display: flex;
    justify-content: space-between;
}