@mixin flexCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin justifyBetween{
    display: flex;
    justify-content: space-between;
}

@mixin mediumBorderRadius{
    border-radius: 0.5rem;
}

@mixin secondaryButton{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 16px;
    color: $white;
    @include mediumBorderRadius;
    border: 2px solid $yellow;
    padding: 8px 22px;
    cursor: pointer;
}