@import './../styles/variables';
@import './../styles/mixins';

.app-container{
    position: relative;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: auto;
}

.main{
    width: 1154px;
    margin: auto;
    padding-bottom: $footerHeight; 
}

header{
    @include justifyBetween;
    border-bottom: 1px solid $white;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 16px;
    color: $white;
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
}

.user{
    display: flex;
    align-items: center;
    span{
        margin-left: 12px;
    }
}


.logout{
    display: flex;
    align-items: center;
    cursor: pointer;
    img{
        margin-left: 12px;
    }
}


.content {
    width: 100%;
}

footer{
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 12px;
    text-align: right;
    color: $white;
    padding-right: 10px;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footerHeight; 
}